<div class="modal">
  <ion-header-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button button-clear" ng-click="close(0)">Voltar</button>
    <h1 class="title">consumo a etanol</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="row textoModal">
      <div class="col">
        <button class="button button-clear button-stable icon ion-arrow-up-b" ng-click="addEt(1)"></button><br class="linha3">
        {{ dados.atnEt | number:0 }}<br class="linha1">
        <button class="button button-clear button-stable icon ion-arrow-down-b" ng-click="addEt(0)"></button>
      </div>
      <div class="col">
        <br class="linha2">.
      </div>
      <div class="col">
        <button class="button button-clear button-stable icon ion-arrow-up-b" ng-click="addEt(3)"></button><br class="linha3">
        {{ decimo.atnEt | number:0 }}<br class="linha1">
        <button class="button button-clear button-stable icon ion-arrow-down-b" ng-click="addEt(2)"></button>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="close(0)">OK</button>
    </div>
  </ion-content>
</div>