<div class="modal">
  <ion-header-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button button-clear" ng-click="close(1)">Voltar</button>
    <h1 class="title">percurso estimado</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>

        <ion-item ng-repeat="item in itemsDist" item="item" ng-click="setDistancia($index)">
          {{ item.s*10 | number:0 }}
        </ion-item>

      </ion-list>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailableDist" on-infinite="loadMore(5)" distance="10%"></ion-infinite-scroll>
  </ion-content>
</div>