<ion-view title="FlexMath">
    <ion-nav-buttons side="right">
          <a class="button button-icon icon ion-ios7-plus-empty" ng-click="open()"></a>
      </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list" ng-controller="AlertCtrl">

        <div class="item">
          Dados de consumo
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            <h1>{{ dados.atnGas | number:1 }} km/l</h1>
            <p>
              <i class="icon ion-waterdrop placeholder-icon"></i>gasolina
            </p>
          </div>
          <select ng-model="dados.atnGas" ng-options="n for n in [] | decimal:1:50"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            <h1>{{ dados.atnEt | number:1 }} km/l</h1>
            <p>
              <i class="icon ion-leaf placeholder-icon"></i>etanol
            </p>
          </div>
          <select ng-model="dados.atnEt" ng-options="n for n in [] | decimal:1:50"></select>
        </label>

     		<div class="item item-input-wrapper item-text-wrap">
     			Nos campos acima você deve entrar com os dados da autonomia do seu automóvel. A autonomia é a relação entre a distância percorrida pelo automóvel por litro de combustível. Esta informação pode ser obtida através do manual do proprietário do automóvel.
     		</div>
  
        <div class="item">
          Preço
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            <h1>R$ {{ dados.precoGas | number:3 }}</h1>
            <p>
              <i class="icon ion-waterdrop placeholder-icon"></i>gasolina
            </p>
          </div>
          <select ng-model="dados.precoGas" ng-options="n for n in [] | milesimal:1:5"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            <h1>R$ {{ dados.precoEt | number:3 }}</h1>
            <p>
              <i class="icon ion-leaf placeholder-icon"></i>etanol
            </p>
          </div>
          <select ng-model="dados.precoEt" ng-options="n for n in [] | milesimal:1:5"></select>
        </label>

   		<div class="item item-input-wrapper item-text-wrap">
         Nestes campos você deve informar o valor dos respectivos combustíveis. Após informar todos os dados selecione o botão abaixo para que o FlexMath calcule qual das opções possui o melhor custo-benefício.
   		</div>
      <div class="padding">
       <button class="button button-block button-dark" ng-click="showAlert()">
         Calcular
       </button>
      </div>

	</div>
  </ion-content>
</ion-view>
