<ion-view title="FlexMath">
    <ion-nav-buttons side="right">
          <a class="button button-icon icon ion-ios7-plus-empty" ng-click="open(0)"></a>
      </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list" ng-controller="AlertCtrl">

        <div class="item">
          Dados de consumo
        </div>

        <a class="item" ng-click="open(1)">
          <h1>{{ dados.atnGas | number:1 }}</h1>
          <span class="item-note">
            km/L
          </span>
          <p>
            <i class="icon ion-leaf placeholder-icon"></i>gasolina
          </p>
        </a>

        <a class="item" ng-click="open(2)">
          <h1>{{ dados.atnEt | number:1 }}</h1>
          <span class="item-note">
            km/L
          </span>
          <p>
            <i class="icon ion-leaf placeholder-icon"></i>etanol
          </p>
        </a>

     		<div class="item item-input-wrapper item-text-wrap">
     			Nos campos acima você deve entrar com os dados da autonomia do seu automóvel. A autonomia é a relação entre a distância percorrida pelo automóvel por litro de combustível. Esta informação pode ser obtida através do manual do proprietário do automóvel.
     		</div>
  
        <div class="item">
          Preço
        </div>

        <a class="item" ng-click="open(3)">
          <h1>{{ dados.precoGas | number:2 }}</h1>
          <span class="item-note">
            R$
          </span>
          <p>
            <i class="icon ion-waterdrop placeholder-icon"></i>gasolina
          </p>
        </a>

        <a class="item" ng-click="open(4)">
          <h1>{{ dados.precoEt | number:2 }}</h1>
          <span class="item-note">
            R$
          </span>
          <p>
            <i class="icon ion-leaf placeholder-icon"></i>etanol
          </p>
        </a>

   		<div class="item item-input-wrapper item-text-wrap">
         Nestes campos você deve informar o valor dos respectivos combustíveis. Após informar todos os dados selecione o botão abaixo para que o FlexMath calcule qual das opções possui o melhor custo-benefício.
   		</div>
      <div class="padding">
       <button class="button button-block button-dark" ng-click="showAlert()">
         Calcular
       </button>
      </div>

	</div>
  </ion-content>
</ion-view>
