<div class="modal">
  <ion-header-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button button-clear" ng-click="close(1)">Voltar</button>
    <h1 class="title">volume no tanque</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>

        <ion-item ng-repeat="item in itemsTanque" item="item" ng-click="setTanque($index)">
          {{ item.tq | number:0 }}
        </ion-item>

      </ion-list>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailableTanque" on-infinite="loadMore(3)" distance="10%"></ion-infinite-scroll>
  </ion-content>
</div>