<div class="modal">
  <ion-header-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button button-clear" ng-click="close(1)">Voltar</button>
    <h1 class="title">percurso estimado</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
        <label class="item item-floating-label padding">
          <span class="input-label">km</span>
          <input type="tel" placeholder="Escreva aqui a distância a ser percorrida" ng-model="calculo.kmts" onkeypress="return SomenteNumero(event);">
        </label>
    </div>
    <div class="padding">
    <button class="button button-block button-calm" ng-click="close(1)">OK</button>
    </div>
  </ion-content>
</div>