<div class="modal">
  <ion-header-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button button-clear" ng-click="close(0)">Voltar</button>
    <h1 class="title">consumo a etanol</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>

        <ion-item ng-repeat="item in itemsConsumo" item="item" ng-click="setAtnEt($index)">
          {{ item.com | number:1 }}
        </ion-item>

      </ion-list>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailableConsumo" on-infinite="loadMore(1)" distance="10%"></ion-infinite-scroll>
  </ion-content>
</div>