.textoModal {
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 100px;
	text-align: center;
}

.linha1 {
    line-height:50%;
}  

.linha2 {
    line-height:75%;
} 

.linha3 {
    line-height:74%;
} 

select {
	visibility: hidden;
}